.addPackage{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 1200px;
    h2{
        font-size: 20px;
        font-weight: 800;
        margin: 20px 0;
        color:rgba(9, 17, 85, 0.94);
    }
    .checking{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        input[type="text"]{
            width: 350px;
            padding: 10px;
            border-radius: 5px;
        }
        .buttons{
            display: flex;
            gap: 10px;
            span{
                width: 200px;
                padding: 10px;
                border-radius: 5px;
                border: solid 1px black;
            }
           .check{
            padding: 10px 50px;
            background-color: rgb(255, 213, 0);
            color: rgba(6, 20, 145, 0.644);
            font-weight: 600;
            border:transparent ;
            border-radius: 5px;
            &:hover{
                background-color: rgba(9, 17, 85, 0.94);
            color: white;  
            }
           } 
           .status{
            padding: 10px 50px;
            background-color: rgba(9, 17, 85, 0.94);
            color: white;
            font-weight: 600;
            border:transparent ;
            border-radius: 5px;
            &:hover{
                background-color: rgb(255, 213, 0);
                color: rgba(6, 20, 145, 0.644);
            }
           }
        }
    }
    
}